<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>

  
</head>
<body>
    <div class="jumbotron">
        <div>
            <h1 class="text-danger pb-4">Hasta luego <%= usuario %></h1>  
        </div>
    </div>


</body>

</html>